@import "tailwindcss";

/* Scrollbar ko hide karne ke liye custom CSS */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit browsers (Chrome, Safari, Edge) ke liye */
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge ke liye */
    scrollbar-width: none;  /* Firefox ke liye */
}